---
buildpack: http://github.com/heroku/heroku-buildpack-nodejs.git
path: .
services:
  - mongodb-app_name
env:
  MONGODB_SERVICE_NAME: "a9hcp-mongodb"

applications:
- name: app_name
  memory: 200M
  instances: 1
  host: app_name
  domain: aws.ie.a9sapp.eu
