---
applications:
- name: nodejs_mongodb_example
  memory: 512M
  buildpack: https://github.com/heroku/heroku-buildpack-nodejs.git
  instances: 1
  host: nodejs_mongodb_example
  domain: de.a9sapp.eu
  path: .
  services:
    mongodb-nodejs_mongodb_example:
      label: mongodb
      provider: core
      version: '2.0'
      plan: '100'
