body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.quote {
	font-size: 1.4em;
	text-align: center;
}

.author {
	font-size: 0.9em;
	text-align: center;
}

.center {
	text-align: center;
}