<p class="quote">"{{ quote.quote }}"</p>
<p class="center"><span class="label label-default">{{ quote.author }}</span></p>
<p class="center v-offset-small">
	<a href="?" class="btn btn-small btn-primary btn-lg active button-width" role="button">Next quote</a>
</p>

<p class="center v-offset">
	<a href="/quotes/new" class="btn btn-success btn-lg active button-width" role="button">Add Quote</a>
</p>

<p class="center">
	<a href="/quotes" class="btn  btn-primary btn-lg active button-width" role="button">List</a>
</p>